<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>
                    <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a>
                    User Detail
                </h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/main/user']">User List</a></li>
                    <li class="breadcrumb-item active">User Detail:</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header d-flex justify-content-between mb-2">
                    <h2>User Detail</h2>
                    <!-- <div class="d-flex justify-content-end mb-2"> -->
                    <button class="btn btn-outline-primary" (click)="back()">
                        <i class="fa fa-chevron-left mr-2"></i>Back</button>
                    <!-- </div> -->
                </div>
                <div class="body">
                    <!-- <div class="row clearfix"> -->
                    <!-- <div class="col-lg-6 col-md-12">
                            <div class="receipt-left">
                                <img class="img-fluid" src="assets/images/user.png"
                                    style="width: 71px; border-radius: 43px;">
                            </div>
                        </div> -->
                    <div class="col-lg-6 col-md-12 receipt-left">
                        <h5>{{user.userInfo.firstName}} {{user.userInfo.lastName}}</h5>
                        <!-- <p>{{user.userInfo.lastName}}</p> -->
                        <!-- <p class="mb-0">+91 12345-6789 <i class="fa fa-phone"></i></p> -->
                        <p class="mb-0"><i class="fa fa-envelope-o mr-2"></i>{{user.userInfo.email}}</p>
                        <p class="mb-0">{{user.authorities}}</p>
                        <!-- <p>USA <i class="fa fa-location-arrow"></i></p> -->
                    </div>
                    <!-- </div> -->
                    <div class="row clearfix">
                        <div class="col-lg-8 col-md-12">
                            <!-- <h5>{{user.name}}</h5>
                            <p class="mb-0"><b>Mobile :</b> {{user.phoneNo}}</p>
                            <p class="mb-0"><b>Email :</b> {{user.businessEmail}}</p>
                            <p><b>Address :</b> {{user.address}}</p> -->
                        </div>
                        <!-- <div class="col-lg-4 col-md-12 text-right">
                            <h3>Receipt</h3>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>