.cluster-action-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.dropHover:hover {
    opacity: .5;
    color:  #60bafd;
}

.environment-option-width {
    width:80px;
}

.mat-expansion-panel {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right:20px;
    border: solid 1px #f2f2f2;
    box-shadow: none !important;
}

.environmentBottomMargin[_ngcontent-c5] {
    margin-bottom: 0px !important;
}

.mat-expansion-panel-body-container {
    padding-top: 20px !important;
}

.cluster-option-container {
    margin-top: 15px;
    padding: 10px;
    padding-left: 0px;
}

.cluster-option-item {
    color: #333;
    background-color: #fafafa;
    margin-bottom: 20px !important;
    border: solid 1px #00acc1;
    height: 70px;
    padding: 10px;
}

.cluster-option-icon {
    width: 40px;
    height: auto;
}

.cluster-option-item-body {
    display: flex;
    flex-direction: row;
}

.cluster-option-item-icon-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cluster-option-item-info-container {
    flex: 3;
}

.cluster-option-item-title {
    margin-bottom: 3px;
}

.cluster-option-item-subtitle {
    margin-bottom: 0px;
    font-size: 13px;
    color: #999;
}

.item-inactive {
    border: solid 1px #ddd !important;
}

.icon-inactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 40px;
    height: auto;
}

.environment-name-margin{
    padding-left: 32px;
    padding-top: 15px;
}

.modal-body {
    padding-top: 0px !important;
}

.icon-environment-delete {
    width: 100% !important;
}

.disable-ripple:hover{
    cursor: default !important;
}
.disable-and-delete-button-container {
    padding-top: 5px;
}

.disable-button-container {
    padding-right: 20px;
}

.env-icon-inactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #6ecadc;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #00acc1;
}


.ic-cpu {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.badge-resource {
    font-size: 14px;
}

.cluster-enabled {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    margin-left: 5px;
    border-radius: 50px;
}

.cluster-disabled {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #EF5350;
    margin-left: 5px;
    border-radius: 50px;
}