<div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body {{themeClass}} {{smallScreenMenu}}">
    <form [formGroup]="appSecretForm" (ngSubmit)='submit()' novalidate>
        <label class="mt-3 mb-1">Secret Name *</label>
        <input formControlName="secretName" placeholder="Secret Name" class="form-control" [pattern]="unamePattern" [disabled]="editModal" name="text"
               [ngClass]="{'parsley-error':!appSecretForm.controls['secretName'].valid && (appSecretForm.controls['secretName'].touched )}">
        <ul class="parsley-errors-list filled"
            *ngIf="appSecretForm.controls['secretName'].invalid && (appSecretForm.controls['secretName'].dirty || appSecretForm.controls['secretName'].touched)">
            <li class="parsley-required" *ngIf="appSecretForm.controls['secretName'].errors.required">Secret Name is
                required.
            </li>
            <li class="parsley-required" *ngIf="appSecretForm.controls['secretName'].errors?.pattern">
                Invalid charecter in secret name.
            </li>
        </ul>
        <label class="mt-3 mb-1">Environment List *</label>
        <div>
            <ng-multiselect-dropdown [placeholder]="'None Selected'" [data]="envList"
                                     formControlName="environmentList" [settings]="dropdownSettings"
                                     [ngClass]="{'parsley-error':!appSecretForm.controls['environmentList'].valid && (appSecretForm.controls['environmentList'].touched )}">
            </ng-multiselect-dropdown>
            <ul class="parsley-errors-list filled"
                *ngIf="appSecretForm.controls['environmentList'].invalid && (appSecretForm.controls['environmentList'].dirty || appSecretForm.controls['environmentList'].touched)">
                <li class="parsley-required" *ngIf="appSecretForm.controls['environmentList'].errors.required">
                    This is required.
                </li>
            </ul>
        </div>
        <div class="fancy-checkbox mr-0 ">
            <label class="mt-3 mb-0"><input formControlName="useAsEnvironmentVariable" [checked]="appSecretForm.controls.useAsEnvironmentVariable.value"
                                            type="checkbox"><span></span>Use AS Environment Variable</label>
        </div>
        <div>
            <label class="mt-3 mb-1">Data List *</label>
        </div>
        <div formArrayName="dataList">
            <div *ngFor="let secret of appSecretForm.get('dataList')['controls'];
             let dataIndex = index" [formGroupName]="dataIndex">
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <input placeholder="Name" class="form-control" name="text" formControlName="name" [ngClass]="{'parsley-error':!secret.get('name').valid && (secret.get('name').touched )}">
                        <ul class="parsley-errors-list filled"
                            *ngIf="secret.get('name').invalid && (secret.get('name').dirty || secret.get('name').touched)">
                            <li class="parsley-required" *ngIf="secret.get('name').errors.required">Data name is
                                required.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 mt-2">
                        <input  placeholder="Value" class="form-control" name="text" formControlName="value" [ngClass]="{'parsley-error':!secret.get('value').valid && (secret.get('value').touched )}">

                        <ul class="parsley-errors-list filled"
                            *ngIf="secret.get('value').invalid && (secret.get('value').dirty || secret.get('value').touched)">
                            <li class="parsley-required" *ngIf="secret.get('value').errors.required">Data value is
                                required.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1 mt-2">
                        <button type="button" *ngIf="dataIndex > 0" class="btn btn-outline-danger" (click)="removeItem(dataIndex)">X</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-outline-primary mt-3" (click)="addItems()">+</button>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="submit()">{{modalActionButton}}</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
<!-- || appSecretForm.submitted -->