<div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-company-form-template #formTemplate (onSave)="save()"></app-company-form-template>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary"
        (click)="submit()">{{companyFormTempateComponent.modalActionButton}}</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>

<!-- || companyForm.submitted -->