<ul class="dropdown-menu notifications" ngbDropdownMenu style="overflow-y: scroll; height: 500px">
    <li class="header">You have <strong style="color: red">{{numberOfUncheckedNotifications}}</strong> unchecked notifications</li>


    <li *ngFor="let notification of tableValue; let i = index">
        <a href="javascript:void(0);">
            <div class="media" *ngIf="notification.clicked === true" [ngClass]="statusClassChecked" (click)="changeNotificationStatus(notification.id)">
                <div class="media-left">
                    <i *ngIf="notification.type === 'success'" class="icon-like text-success"></i>
                    <i *ngIf="notification.type === 'failed'" class="icon-info text-danger"></i>
                    <i *ngIf="notification.type === 'warning'" class="icon-info text-warning"></i>
                </div>
                <div class="media-body">
                    <p class="text"> <strong>{{notification.text}}</strong></p>
                    <span class="timestamp">{{notification.createDate}}</span>
                </div>
            </div>

            <div class="media" *ngIf="notification.clicked === false" [ngClass]="statusClassNotChecked" (click)="changeNotificationStatus(notification.id)">
                <div class="media-left">
                    <i *ngIf="notification.type === 'success'" class="icon-like text-success"></i>
                    <i *ngIf="notification.type === 'failed'" class="icon-info text-danger"></i>
                    <i *ngIf="notification.type === 'warning'" class="icon-info text-warning"></i>
                </div>
                <div class="media-body">
                    <p class="text"> <strong>{{notification.text}}</strong></p>
                    <span class="timestamp">{{notification.createDate}}</span>
                </div>
            </div>

        </a>
    </li>


    <!--<li>-->
    <!--<a href="javascript:void(0);">-->
    <!--<div class="media">-->
    <!--<div class="media-left">-->
    <!--<i class="icon-info text-warning"></i>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--<p class="text">Campaign <strong>Holiday Sale</strong> is nearly reach budget limit.</p>-->
    <!--<span class="timestamp">10:00 AM Today</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="javascript:void(0);">-->
    <!--<div class="media">-->
    <!--<div class="media-left">-->
    <!--<i class="icon-like text-success"></i>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--<p class="text">Your New Campaign <strong>Holiday Sale</strong> is approved.</p>-->
    <!--<span class="timestamp">11:30 AM Today</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="javascript:void(0);">-->
    <!--<div class="media">-->
    <!--<div class="media-left">-->
    <!--<i class="icon-pie-chart text-info"></i>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--<p class="text">Website visits from Twitter is 27% higher than last week.</p>-->
    <!--<span class="timestamp">04:00 PM Today</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="javascript:void(0);">-->
    <!--<div class="media">-->
    <!--<div class="media-left">-->
    <!--<i class="icon-info text-danger"></i>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--<p class="text">Error on website analytics configurations</p>-->
    <!--<span class="timestamp">Yesterday</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="footer"><a href="javascript:void(0);" class="more">See all notifications</a></li>-->
    <li>
        <button class="btn btn-outline-primary btn-block" (click)="seeAll()">See All</button>
        <!-- <i class="fa fa-chevron-left mr-2"></i> -->
    </li>

</ul>