.notification-number {
  border-radius: 50%;
  position: absolute;
  top: 6px;
  color: #fff;
  cursor: default;
  font-size: 12px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  right: 8px;
  text-align: center;
  -webkit-box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  background-color: #fa3e3e;
  -webkit-user-select: none;
}
