.app-secret-border {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.app-secret-padding {
    padding-top: 15px;
    padding-left: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.app-secret-add-button {
    float: right;
    margin-top: 15px;
    margin-bottom: 10px;
}

.app-secret-name {
    text-align: center;
    font-size: 14px;
}

.app-secret-action-button {
    position: absolute;
    top: 8px;
    right: 20px;
}

.table-header-color {
    color: #49c5b6;
    background-color: #fdfdfd;
    border-color: #aaaaaa;
}

.card{
    margin-bottom: 10px !important;
}

.table-header-width {
    width: 50px;
}

.app-secret-data-row p {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
}
.app-secret-action-front{
   font-family: "Nanum Gothic";
    font-size: 15px;
    cursor: pointer;
}
