<div class="container-fluid">
    <div class="row clearfix">
        <div  class="col-lg-12 col-md-12">
            <div *ngIf="tableValue.length<=0 && !dataLoading" class="p-4 text-center" >
                <h4>No App Secret is created yet.</h4>
                <button class="btn btn-outline-primary mt-2" (click)="openCreateModal()">Add App Secret</button>
            </div>

            <div *ngIf="tableValue.length>0 && !dataLoading">
                <div class="d-flex justify-content-end app-secret-add-button">
                    <button class="btn btn-outline-primary " (click)="openCreateModal()">Add App Secret</button>
                </div>
                <div class="col-md-6">
                    <div *ngFor="let appSecret of tableValue; let i = index">
                        <div class="card app-secret-border app-secret-padding">
                            <div>
                                <p class="app-secret-name">Secret Name : {{appSecret.secretName}}</p>
                                <div class="float-md-right mb-3 app-secret-action-button">
                                    <div class="input-group" ngbDropdown>
                                        <button class="btn dropdown-toggle p-0" type="button"
                                                ngbDropdownToggle></button>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <a class="dropdown-item app-secret-action-front"
                                               (click)="openEditModal(appSecret)"><i class="icon-pencil"></i>&nbsp;&nbsp;&nbsp;Edit</a>
                                            <a class="dropdown-item app-secret-action-front"
                                               (click)="openDeleteModal(deleteAppSecretModal, appSecret)"><i class="icon-trash"></i>&nbsp;&nbsp;&nbsp;Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row table-header-color">
                                    <div class="col-4">
                                        <p>Name</p>
                                    </div>
                                    <div class="col-8">
                                        <p>Value</p>
                                    </div>
                                </div>

                                <div class="row app-secret-data-row" *ngFor="let data of appSecret.dataList; let i = index">
                                    <div class="col-4">
                                        <p>{{data.name}}</p>
                                    </div>
                                    <div class="col-8">
                                        <p title="{{data.value}}">{{data.value}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteAppSecretModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Delete App Secret</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete App Secret '{{deletingAppSecret['secretName']}}'?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="onDeleteConfirmation()">Delete</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>