<!-- <h5 class="text-center text-muted pt-4">Map Environment and Vpcs of this application here.</h5> -->
<div class="d-flex flex-wrap">
    <div class="p-4 card mx-1 environmentCard">
        <div class="d-flex justify-content-between">
            <h6 class="d-flex align-items-center mr-2 mb-0"> <i class="fa fa-tasks mr-1"></i>
                {{selectedEnvironment.environment.name}}
            </h6>
            <!-- <span *ngFor="let selectedVpc of selectedVPCs" class="badge badge-default mx-0 mb-1 mr-1"><i
                    class="fa fa-cloud"></i>
                {{ selectedVpc.name | titlecase}}</span> -->
            <button class="btn btn-sm btn-primary" (click)="mapVPC()"> <i class="icon-shuffle mr-1"></i> Map
                VPC</button>
        </div>
        <hr *ngIf="currentVpcs.length>0">
        <p *ngIf="currentVpcs.length>0">Add one or more VPCs to the {{selectedEnvironment.environment.name}} environment
        </p>

        <div class="d-flex flex-wrap">
            <!-- <div class="vpc cursor-pointer" *ngFor="let vpc of currentVpcs" [ngClass]="{ 'checked': vpc.checked }"
            (click)="changeVpcToEnvironment(environmentOption.id, vpc)"> <i class="fa fa-cloud"></i><span
                class="ml-1">{{vpc.name}}</span></div> -->
            <!-- <div class="vpc"> <i class="fa fa-cloud"></i><span class="ml-1"> VPC 1</span></div> -->
            <!-- <div class="vpc"> <i class="fa fa-cloud"></i><span class="ml-1"> VPC 1</span></div> -->
            <!-- <div > -->
            <div class="card vpcCard cursor-pointer" *ngFor="let vpc of currentVpcs; let i=index">
                <div class="row" (click)="changeVpcStatus(vpc,i)">
                    <div class="col-md-2 d-flex justify-content-center align-items-center text-light vpcCardIcon"
                        [ngClass]="{'checked': vpc.checked}">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="col-md-8 d-flex text-left py-2 pl-2 pr-0">
                        <div class="pl-0 pr-2 vpcDec">
                            <p class="mb-0"><strong>{{vpc.name}}</strong></p>
                            <!-- <p class="text-secondary mb-0" style="font-size: 12px">
                        </p> -->
                        </div>
                        <div class="d-flex ml-2" style="font-size: 11px">
                            <span title="CPU"
                                class="badge-resource d-flex flex-column justify-content-center align-items-center">
                                <img class="ic-cpu" src="assets/images/icon/ic_cpu.png" />
                                {{(vpc.availableCPU/1000).toFixed(2)}}C
                            </span>
                            <span title="Memory"
                                class="badge-resource d-flex flex-column justify-content-center align-items-center">
                                <img class="ic-cpu" src="assets/images/icon/ic_ram.png" />
                                {{(vpc.availableMemory/1024).toFixed(2)}}G
                            </span>
                            <span title="Storage"
                                class="badge-resource d-flex flex-column justify-content-center align-items-center">
                                <img class="ic-cpu" src="assets/images/icon/ic_storage.png" />
                                {{(vpc.availableStorage/1024).toFixed(2)}}G
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2 pl-0 d-flex justify-content-center align-items-center" *ngIf="vpc.checked">
                        <!-- <button class="btn close closeButton p-2" (click)="addNewVPC(vpc,i)"> -->
                            <i class="fa fa-check-circle checkedIcon"></i>
                        <!-- </button> -->
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <!-- <hr *ngIf="selectedVPCs.length>0">
        <p *ngIf="selectedVPCs.length>0" class="mb-0">Selected VPCs</p>
        <div class="d-flex flex-wrap">
            <div class="card vpcCard" *ngFor="let vpc of selectedVPCs; let i=index">
                <div class="row">
                    <div class="col-md-2 d-flex justify-content-center align-items-center text-light"
                        style="border-radius: 0.55rem 0 0 0.55rem; background-color: #8dddd3">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="col-md-8 d-flex text-left py-2 pl-2 pr-0">
                        <div class="pl-0 pr-2 vpcDec">
                            <p class="mb-0"><strong>{{vpc.name}}</strong></p>
                        </div>
                        <div class="d-flex ml-2" style="font-size: 11px">
                            <span title="CPU"
                                class="badge-resource d-flex flex-column justify-content-center align-items-center">
                                <img class="ic-cpu" src="assets/images/icon/ic_cpu.png" />
                                {{(vpc.availableCPU/1000).toFixed(2)}}C
                            </span>
                            <span title="Memory"
                                class="badge-resource d-flex flex-column justify-content-center align-items-center">
                                <img class="ic-cpu" src="assets/images/icon/ic_ram.png" />
                                {{(vpc.availableMemory/1024).toFixed(2)}}G
                            </span>
                            <span title="Storage"
                                class="badge-resource d-flex flex-column justify-content-center align-items-center">
                                <img class="ic-cpu" src="assets/images/icon/ic_storage.png" />
                                {{(vpc.availableStorage/1024).toFixed(2)}}G
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2 pl-0 d-flex justify-content-start align-items-start">
                        <button class="btn close closeButton p-2" (click)="removeVPC(vpc,i)"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- <div class="text-right">
    <button class="btn btn-primary py-2 px-3" (click)="addNewEnvironmentMapping()"> <i class="fa fa-check pr-1"></i> Done</button>
</div>

<ng-template #removeVpcModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Remove Vpc</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure that you want to remove this vpc?</p>
        <ul>
            <li *ngFor="let msg of vpcRemoveWarning">{{msg}}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="onRemoveConfirmation()">Remove</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template> -->